In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

df1=pd.read_csv("4_ThreeNum.csv")

df1.head()

       country continent  lifeExp       pop     gdpPercap
0  Afghanistan      Asia   43.828  31889923    974.580338
1      Albania    Europe   76.423   3600523   5937.029526
2      Algeria    Africa   72.301  33333216   6223.367465
3       Angola    Africa   42.731  12420476   4797.231267
4    Argentina  Americas   75.320  40301927  12779.379640